/*~
/loadable/*~
/loadable/*-autoloads.el
/elpa/
/eln-cache/
/.cache/
/server/
/url/
/transient/
/auto-save-list/
/org-persist/
/.org-id-locations
/custom.el
/bookmarks
/network-security.data
/logview-cache.extmap
/recentf
/tramp
/abbrev_defs
/eshell/
/places
/tree-sitter/
/ido.last
/projects
/tree-sitter.old/
/projectile-bookmarks.eld
