*~
local.d/*
loadable/*
elpa/*
auto-save-list/*
eshell/*
/tramp
ac-comphist.dat
session.*
ido.last
recentf
/tramp
/org-clock-save.el
/.org-id-locations
/helm-doc.org
/tutorial/English.tut
/url/cookies
/custom.el
